.sqr100{
  width: calc(100% / 10);
  height: calc(100% / 10);
}
.sqr81{
  width: calc(100% / 9);
  height: calc(100% / 9);
}
.sqr49{
  width: calc(100% / 7);
  height: calc(100% / 7);
}
.grid{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}
.sqr{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: cell;
}
.clicked{
  background-color: rgb(9, 151, 30);
}
.bomb{
  background-image: url(../assets/img/biohazard-solid.svg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(201, 87, 34);
}
.gameover{
  font-weight: bold;
  font-size: 4rem;
  color: black;
  text-align: center;
  line-height: 500px;
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: rgba(255, 0, 0, 0);
}
.win{
  font-weight: bold;
  font-size: 4rem;
  color: rgb(234, 226, 0);
  text-align: center;
  line-height: 500px;
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: rgba(0, 255, 64, 0.468);

}

img{
  width: 50px;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}
#difficult {
  border-radius: 6px;
  border: none;
  background-color: white;
  width: 300px;
}
header{
  margin-top: 20px;
  background-color: #00e064;
}
.title{
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
main{
  background-color: #b9ffba;
  border-right: 10px solid #00e064;
  border-left: 10px solid #00e064;
}
main h1{
  margin-top: 30px;
  font-weight: bold;
  font-size: 3rem;
  color: #00e064;
}
footer{
  background-color: #00e064;
}

footer{
  color: white;
  font-weight: bold;
}

.redFlag{
  background-image: url(../assets/img/circle-radiation-solid.svg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(57, 255, 87);
}