.sqr100{
  width: calc(100% / 10);
  height: calc(100% / 10);
}
.sqr81{
  width: calc(100% / 9);
  height: calc(100% / 9);
}
.sqr49{
  width: calc(100% / 7);
  height: calc(100% / 7);
}
.grid{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}
.sqr{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: cell;
}
.clicked{
  background-color: rgb(9, 151, 30);
}
.bomb{
  background-color: brown;
}
.gameover{
  font-weight: bold;
  font-size: 4rem;
  color: black;
  text-align: center;
  line-height: 500px;
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: rgba(255, 0, 0, 0.468);
}
.win{
  font-weight: bold;
  font-size: 4rem;
  color: rgb(234, 226, 0);
  text-align: center;
  line-height: 500px;
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: rgba(0, 255, 64, 0.468);

}